<header>
    <nav>
        <div class="container">
            <ul>
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                <li><a routerLink="/news" routerLinkActive="active">News</a></li>
                <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
                <li *ngIf="!auth.checkLogin(); else logout" ><a routerLink="/login" routerLinkActive="active">Login</a></li>
                <ng-template #logout><li><a routerLink="/login" (click)="auth.logout()">Logout</a></li></ng-template>
            </ul>
        </div>
    </nav>
</header>
