<div class="home-container">
  <div class="hero">
    <h1 class="hero-text" @textShow>
      stay in touch with the <span class="highlight">latest</span> news
    </h1>
    <h2 class="hero-text2" @subTitle>
      Get Notifications instantly by subscribing to our newsletter
    </h2>
    <span>
      <img
        class="hero-image"
        src="https://o.remove.bg/downloads/934eebaf-d7b6-4f6d-b5ab-a97c30ae058a/15694619_5595285-removebg-preview.png"
        alt="hero-img"
    /></span>
    <button class="btn-hero">Subscribe</button>
  </div>
  <div class="home-body"></div>
</div>
